<html>
<head>

<style>
h1{
    color:#6B8E23;
    text-align:center;
    padding:20px;
}
div{
    width:500px;
    height:130px;
    margin:auto;
    text-align:center;
    border:solid;
    border-radius:5px;
    border-color:#9ACD32;
    color:#6B8E23;
}

a{
    color:#006400
}
</style>
</head>

<body>
<h1>ABOUT</h1>
    <div>
        <p><strong>글자 수를 알려주는 페이지입니다.</strong></p>
        <p><strong>아래 상자에 문장을 입력하면 글자 수를 알려드립니다.</strong></p>
        <a href="{% url 'home'%}">원래 화면으로 돌아가기</a>
    </div>
</body>

</html>